.app__schedule {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  gap: 3rem;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

/* LEFT */
.app__schedule-content {
  flex: 1;
  max-width: 500px;
}

.app__schedule-steps {
  list-style: none;
  padding: 0;
  margin-bottom: 2.5rem;
}

.app__schedule-step {
  display: flex;
  align-items: flex-start;
  gap: 1rem;

  padding-left: 0.5rem;
  margin-bottom: 1.8rem;

  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8;



  .step-icon {
    flex-shrink: 0;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background: rgba(79, 195, 199, 0.12);

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      font-size: 1rem;
      color: var(--tertiary-color);
    }
  }

  .step-text {
    opacity: 0.9;
  }
}


.app__schedule-btn {
 padding: 1rem 2.4rem;
    border-radius: 999px;
    border: none;
    font-weight: 600;
    background: var(--tertiary-color);
    color: #fff;
    cursor: pointer;

    transition: transform 0.25s ease, box-shadow 0.25s ease;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    }
}

/* RIGHT */
.app__schedule-media {
  flex: 1;
  position: relative;
  border-radius: 20px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}

.app__schedule-actions {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 0.7rem;
}

