/* CONTAINER */
.app__global {
    max-width: 100%;
  margin: 3rem auto 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%; 
  
}

.swiper {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
}

.swiper-slide {
  width: 240px !important; 
  display: flex;
  justify-content: center;
}

.app__global-card {
  width: 280px;
  height: 410px;

  border-radius: 22px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  background: var(--white-color);

  box-shadow: var(--primary-color);
}

.app__global-image {
  flex: 1;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.app__global-content {
  padding: 1.8rem;
  min-height: 170px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  background: var(--off-white-color);

  h4 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
  }

  p {
    font-size: 0.95rem;
    line-height: 1.6;
    opacity: 0.85;
    max-width: 240px;
  }
}


.app__global-logo {
  width: 60px;
  height: 60px;

  margin-bottom: 1rem;
  border-radius: 10px;
  border: 2px solid var(--tertiary-color);

  object-fit: contain;
}

